// Gadżet Popups 
.navpopup {background:#222; border-color:#777; color: #fff;}
.navpopup hr {border-color:#666 !important;}
.navpopup .popup_drop:hover {background:#444;}
.navpopup .popup_menu {background:#282828; border-color:#555;}
.navpopup .popup_drop:hover .popup_menu, .popup_drop .popup_menu:hover {background:#282828;}
.navpopup .popup_history_row_even {background:#383838;}
.navpopup ins.popupDiff {background:#005a47; color: #fff;}
.navpopup del.popupDiff {background:#7a0600; color: #fff;}
